:host {
  display: flex;
}
.panel-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1;
}

.element-list {
  flex: 8;
}

.shape-style {
  flex: 16;
}

.buttons {
  margin-top: 5px;
  flex: 1;
  display: flex;
  flex-direction: row;
}
